* {
  margin: 0;

  font-family: "Mulish", sans-serif;
}
/* --------- Navbar Section ---------- */

nav {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 52px auto 0;
  align-items: center;
}
.fa-solid.fa-bars.fa-lg {
  display: none;
}
.title {
  display: flex;
  gap: 10px;
  align-items: center;
}
.logo {
  width: 40px;
  height: 40px;
}
.title > h1 {
  color: #131318;

  font-size: 36px;

  font-weight: 800;
}
.title > h1 > span {
  color: #ff5400;
}

.nav-items {
  display: flex;
  gap: 44px;
  /* align-items: center; */

  padding: 10px 0px;
  justify-content: center;
}
.nav-items .item {
  list-style: none;

  text-align: center;
  font-size: 18px;
  color: #424247;

  font-weight: 400;
}
.nav-items .item:first-child {
  color: #ff5400;

  font-weight: 700;
}

/* ------- main section ------- */
main {
  width: 80%;
  margin: 49px auto 0;
}

/* -------- Common classes--------- */
.section-heading {
  font-size: 2.5rem;
  color: #131318;
  font-weight: 800;
  margin-bottom: 24px;
  line-height: normal;
}
.section-description {
  color: rgba(19, 19, 24, 0.7);
  line-height: 26px; /* 162.5% */
  margin: 0 auto 48px;
  width: 80%;
}

/* --------- Explore Travel Section ------ */

.explore-travel {
  height: 500px;
  /* padding: 106px 0px; */

  border-radius: 16px;
  background: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url("../Images/Group 13 (1) (1).png");

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  background-size: 100% 100%;

  background-repeat: no-repeat;
  margin-bottom: 100px;
}
.explore-travel-heading {
  color: #fff;
  font-size: 64px;
  font-weight: 800;
}
.explore-travel-paragraph {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  width: 65%;
  margin: 24px auto 48px;
}
.search-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 24px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.3);
  padding: 16px;
}
input,
select {
  padding: 16px;
  border-radius: 8px;
  border: none;
  color: rgba(19, 19, 24, 0.5);
}
.find-now-btn {
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  font-size: 16px;

  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* -------Our Popular Tours Section------ */
.popular-tours {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.tour-description {
  color: rgba(19, 19, 24, 0.7);

  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  flex: 1;
}

.tour-description p {
  margin: 24px 0px;
}
.tour-photo {
  flex: 1;

  text-align: right;
}
.tour-photo img {
  width: 100%;
  height: auto;
}

.read-more-btn {
  padding: 14px 35px;
  font-size: 1.25rem;
  font-weight: 800;
  color: #fff;
  border-radius: 8px;
  background: #ff5400;
  border: none;
}
/* ---------- Choose your destination Section--------- */
.choose-your-destination {
  margin-top: 100px;
  text-align: center;
}

.destination-place-row {
  display: flex;
  gap: 24px;
  margin-bottom: 24px;
}
.place {
  height: 286px;
  border-radius: 16px;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.75rem;
  font-weight: 800;
}
.maldives {
  flex-grow: 1;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 5.png") lightgray 50% / cover no-repeat;
  /* background-size: cover;
  background-repeat: no-repeat; */
}
.indonesia {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 8.png") lightgray 50% / cover no-repeat;
  flex-grow: 1;
}
.sri-lanka {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 6.png") lightgray 50% / cover no-repeat;
  flex-grow: 2;
}
.north-america {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 7.png") lightgray 50% / cover no-repeat;
  flex-grow: 3;
}
.kashmir {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 9.png") lightgray 50% / cover no-repeat;
  flex-grow: 1;
}
.bangladesh {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 11.png") lightgray 50% / cover no-repeat;
  flex-grow: 1;
}
.bandarban {
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url("../Images/Rectangle\ 10.png") lightgray 50% / cover no-repeat;
  flex-grow: 2;
}

/* ----------- Why Choose Us section---------- */

.why-choose-us {
  margin-top: 76px;
  text-align: center;
}
.options-row {
  display: flex;
  text-align: left;
  gap: 24px;
  justify-content: center;
}
.option {
  /* height: 284px; */
  flex: 1;
  padding: 32px 55px 32px 32px;
  border-radius: 16px;
  max-width: 573px;
}
/* .option img {
  margin-bottom: 32px;
} */
.option h3 {
  font-size: 1.5rem;
  font-weight: 800;
  line-height: normal;
  margin: 32px 0 16px;
}
.option p {
  color: #5a5a5d;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
}
.pick-option-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);

  background: rgba(251, 181, 99, 0.05);
}
.pick-option-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
.pick-option-3 {
  margin-top: 24px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* --------deals and discount section-------- */

.deals-discounts {
  margin-top: 100px;
  text-align: center;
}
.deal {
  border-radius: 16px;
  padding: 56px 56px;
  margin-bottom: 24px;
}
.deal-1 {
  background: url("../Images/Group\ 39.png") lightgray 50% / cover no-repeat;
  text-align: left;
}
.deal-2 {
  background: url("../Images/Group\ 40.png") lightgray 50% / cover no-repeat;
  text-align: left;
}
.deal-3 {
  background: url("../Images/Group\ 39.png") lightgray 50% / cover no-repeat;
  text-align: left;
}
.deal-details {
  width: 40%;
  padding: 50px;
  border-radius: 16px;
  /* border: 2px solid #fff; */
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.deal-details-right {
  margin-left: auto;
}

.tour-package {
  display: flex;
  gap: 24px;
  margin-bottom: 26px;
}
.tour-package-option {
  display: flex;
  gap: 8px;
  color: #5a5a5d;
  font-weight: 400;
  line-height: normal;
}
.tour-package-option > i {
  color: rgba(255, 84, 0, 1);
}
.package-name {
  color: #131318;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 16px;
}
.package-description {
  color: #5a5a5d;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 16px;
}
.package-price {
  color: #ff5400;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
}
.package-book-btn {
  padding: 14px 24px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  line-height: normal;
}
.see-all-discounts-btn {
  border-radius: 8px;
  background: #ff5400;

  color: #fff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding: 14px 22px;
  border: none;
  margin-top: 24px;
}

/* -----------A Simple Perfect Place To Get Lost Section----------- */
.get-lost {
  margin-top: 100px;
  display: flex;
  gap: 40px;
}
.get-lost-right {
  flex: 1;
}
.get-lost-left {
  flex: 1;
}
.get-lost-description {
  color: #5a5a5d;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  margin-bottom: 24px;
}
.get-lost-right li {
  margin-bottom: 16px;
  color: #131318;

  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
}
.get-lost-right iframe {
  width: 100%;
  height: 100%;
  border: none;

  border-radius: 16px;
}
.get-lost-btn {
  margin-top: 16px;
  padding: 14px 42px;
  border-radius: 8px;
  background: #ff5400;
  border: none;
  color: #fff;

  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
/* ------- media queries ------- */

@media screen and (max-width: 600px) {
  nav {
    width: 90%;
  }
  main {
    width: 90%;
  }
  .section-heading {
    font-size: 1.25rem;
  }
  .section-description {
    font-size: 0.875rem;
    width: 90%;
    line-height: 24px;
  }
  .nav-items {
    display: none;
  }
  .title > h1 {
    font-size: 1.34rem;
  }
  .fa-solid.fa-bars.fa-lg {
    display: block;
    font-size: 1.5rem;
  }
  /* ---------- Explore Your Travel Section---------  */
  .explore-travel {
    padding: 32px 0px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .explore-travel-heading {
    font-size: 22px;
  }
  .explore-travel-paragraph {
    font-size: 14px;
    width: 90%;
    margin: 8px auto 32px;
  }
  .search-box {
    grid-template-columns: 1fr;
    width: 80%;
    gap: 16px;
  }
  .find-now-btn {
    padding: 16px;
  }
  /* ----------- Our Popular Tours Section--------? */
  .popular-tours {
    flex-direction: column-reverse;
    gap: 32px;
  }
  .tour-description {
    width: 100%;
  }

  .tour-description li {
    font-size: 14px;
  }
  .tour-photo {
    width: 100%;
  }
  .tour-photo img {
    width: 100%;
  }

  /* ---------- Choose your destination Section--------- */
  .choose-your-destination {
    margin-top: 24px;
  }

  .destination-place-row {
    flex-direction: column;
    gap: 16px;
  }

  /* ----------- Why Choose Us section---------- */

  .why-choose-us {
    margin-top: 24px;
  }
  .options-row {
    flex-direction: column;
    gap: 16px;
  }
  .option {
    padding: 32px;
  }
  .option h3 {
    font-size: 1.25rem;
    margin: 16px 0;
  }
  .option p {
    font-size: 0.875rem;
  }

  /* --------deals and discount section--------  */
  .deals-discounts {
    margin-top: 24px;
  }
  .deal {
    padding: 16px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 187px;
  }
  .deal-details {
    width: 90%;

    padding: 25px;
  }
  .tour-package {
    flex-wrap: wrap;
  }
  .package-name {
    font-size: 1.25rem;
  }
  .package-description {
    font-size: 0.875rem;
  }
  .package-price {
    font-size: 1rem;
  }
  .package-book-btn {
    padding: 8px 20px;

    font-size: 1.125rem;
    font-weight: 700;
  }
  .see-all-discounts-btn {
    display: none;
  }
  .get-lost {
    margin-top: 24px;
    flex-direction: column;
    gap: 16px;
  }
  .get-lost-description {
    font-size: 0.875rem;
  }
  .get-lost-right li {
    font-size: 0.875rem;
  }
  .get-lost-right iframe {
    height: 250px;
  }
}
/* @media screen and (min-width: 992px) {
  nav {
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 52px auto 0;
    background-color: #424247;
  }
}  */
